
<div class='search_box'>
  <h1>投稿を検索</h1>
  <div class='serch-form'>
  <%= form_tag({controller:"vacations",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する'  %>
  <% end %>
  </div>

  <div class='new_to_vacation'>
  <a href="<%= new_vacation_path %>" class="button2">新規に投稿する</a>
  </div>
</div>

<div class="vacations-container">

  <% @vacations.each do |t| %>
    <div class='vacations-container1'>
      <div class="vacation0">
        <div class='vacation1'>
          <%= image_tag t.image_url, size: "450x300" if t.image? %>
        </div>
        <div class='vacation2'><%= t.name %></div>     
        <div class='vacation4'><%= link_to "詳細へ", vacation_path(t.id) %></div>
        <div class='vacation5'><%= link_to "編集する", edit_vacation_path(t.id) %></div>
        <div class='vacation6'><%= button_to "削除する", vacation_path(t.id), method: :delete %></div>
      <div>
      <div class='vacation7'>
        <h2>総合評価：
          <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
          </span> 
        </h2>
        </div>
        </div>
      </div>
    </div>
  <% end %>
    

</div>

<div class='index_under'>
  <%= page_entries_info @vacations %>
  <%= paginate @vacations %>
</div>